*{
  margin: 0;
  padding: 5px 10px 5px;
  box-sizing: border-box;
  font-family: Arial;
  max-width: auto;
  margin-bottom: 10px;
  list-style: none;
}
p {
  font-size: 15px;
}
h1 {
  align-items: center;
}
